.Rhistory
.RData
LDMS.zip
aws_credentials.json
*.mo
*.pickle
*.qm
*.doctree
*.pot
*.swp
*.swo
*.csv
*.rdb
*.rdx
*.o
*.dll
*.so
*.pyd
*.gz
*.geojson
.Rproj.user
*.pyc
*build/*
*/help/build/*
*/ext-libs/*
*/ext-src/*
*/ext-libs_32/*
*/ext-src_32/*
LDMS/gui/*.py
LDMS/resources.py
LDMS/version.json
LDMS/data_prep_scripts/*
docs/build/*
docs/source/.doctrees/*
docs/source/static/*
LDMS/binaries/*
LDMS/test/fixtures/*
LDMS/test/integration/fixtures/*
LDMS/test/unit/fixtures/*
invoke.yaml
trends.earth_admin_user_credentials.json
trends.earth_test_user_credentials.json
trend/