[submodule "trends.earth-CLI"]
	path = trends.earth-CLI
	url = https://github.com/LocateIT/trends.earth-CLI.git
[submodule "MISLAND/schemas"]
	path = MISLAND/schemas
	url = https://github.com/ConservationInternational/trends.earth-schemas.git
