.Rhistory
.RData
MISLAND.zip
aws_credentials.json
*.mo
*.pickle
*.qm
*.doctree
*.pot
*.swp
*.swo
*.csv
*.rdb
*.rdx
*.o
*.dll
*.so
*.pyd
*.gz
*.geojson
.Rproj.user
*.pyc
*build/*
*/help/build/*
*/ext-libs/*
*/ext-src/*
*/ext-libs_32/*
*/ext-src_32/*
MISLAND/gui/*.py
MISLAND/resources.py
MISLAND/version.json
MISLAND/data_prep_scripts/*
docs/build/*
docs/source/.doctrees/*
docs/source/static/*
MISLAND/binaries/*
MISLAND/test/fixtures/*
MISLAND/test/integration/fixtures/*
MISLAND/test/unit/fixtures/*
invoke.yaml
trends.earth_admin_user_credentials.json
trends.earth_test_user_credentials.json
trend/
